<%- include('head');  -%>
<body>
    <%- include('header') -%>
    <!-- In video, this <main> element is wrongly called: <section class="overview">. So in pug template, please use main.main instead of section.overview -->

    <!-- CONTENT -->
        <h1>i am base</h1>

   <%- include('footer') -%>
</body>

</html>