<%- include('head') -%>

<body>
    <%- include('header') -%>
    <main class="main">
        <div class="error">
            <h2 class=" custom-error-design">Uh oh! Something went wrong!  </h2>
            <h2 class="error__emoji">😢 🤯</h2>
            <div class="error__msg"><%= msg %> </div>
        </div>
    </main>

    <%- include('footer') %>
</body>