<%- include('head') %>
    <link rel="stylesheet" href="/css/resetPassword.css">

    <body>
        <%- include('header') %>
        <section class="reset-password">
            <div class="reset__box">
                <div class="heading">
                    <h1 class="heading--primary"> Reset your password</h1>
                    <p class="context">If the account exist, we will email you instructions to reset the password.</p>
                </div>
                <div class="info__box">
                    <label for="userEmail" class="email">Email</label><br>
                    <input type="email" name="userEmail" id="userEmail" class="input" placeholder="Email" required>
                </div>
                <div class="buttons">
                    <a href="/login" class="login btn btn--white btn--small">Return to login</a>
                    <button class="reset btn btn--reset btn--small" id="reset">Reset Password</button>
                </div>
            </div>
        </section>
        <%- include('footer') %>
</body>