.reset-password{
    display: flex;
    justify-content: center;
    padding: 10rem 0;
    color: white;
}
.reset__box{
    background-color: rgb(22, 19, 19);
    padding: 5rem;
    border-radius: 7px;
}
.heading{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid orangered;
}
.heading--primary{
    font-size: 21px;
}
.context{
    font-size: 15px;
}
.info__box{
    margin-top: 2.5rem;
}
.email{
    color: orangered;
    font-size: 13px;
    font-weight: 700;
}
.input{
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    color: black;
    width: 100%;
    border: none;
}
.input:focus{
    outline: none;
}
.buttons{
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn--white{
    background-color: white;
    color: black;
}
.btn--reset{
    background-color: #04aa6d;
    color: white;
}
.new-pass{
    background-color: #dad6d6;
    height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.new-password-form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}